*{
  box-sizing: border-box;
}

.container {
  position: relative;
}
.picture-container {
  display: inline-block;
  width: 50%;
  position:absolute;
  left: 0;
}

.content {
  position: absolute;
  display: inline-block;
  width: 50%;
  right: 20px;
}
