$sky-color: #1b2735;
$night-color: #090a0f;

@function multiple-box-shadow($n) {
  $value: (random(2000) + px) (random(2000) + px) #fff;
  @for $i from 2 through $n {
    $value: $value, (random(2000) + px) (random(2000) + px) #fff;
  }
  @return $value;
}

$shadow-small: multiple-box-shadow(100);
$shadow-medium: multiple-box-shadow(75);
$shadow-large: multiple-box-shadow(50);

.background-image {
  position: relative;
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  background: linear-gradient($sky-color 0%, $night-color 90%);
  background-position: center;

}

.navbar-slogan {
  position: absolute;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  left: 20%;
  height: 35%;
  width: 75%;
  top: 60%;
  transform: translateY(-50%);
  color: white;
  text-align: left;
}

.navbar-slogan h2 {
  // display: inline-block;
  font-size: 40px;
}

h2 .div-up {
  color: rgb(0, 0, 0);
  width: 20px;
  // transition: transform 0.5s linear;
}

// .navbar-slogan:hover .div-up {
//   transform: translateY(50px);
// }

h2 .div-down {
  color: rgb(0, 0, 0);
  display: inline-block;
  // transition: transform 0.5s linear;
}

//ADDING A BUTTON!!!!!!!!!

// .header-button{
//   display: inline-block;
//   padding: 10px 30px;
//   font-weight: 300;
//   text-decoration: none;
//   border-radius: 200px;
//   color: #fff;
//   transition: background-color 0.2s, border 0.2s, color 0.2s;
//   background-color: #c9145e;
//   border: 1px solid #E31B6D;
//   margin-right: 1005px;
//   text-transform: up
// }
//
// .header-button:hover{
//   background-color: #E31B6D;
// }
.arrow-container {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 10%;
  // background-color: red;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.bounce-container {
  height: 100%;
  width: 25%;
  text-align: center;
}
.arrow {
  // width: 0;
  // height: 0;
  // border-left: 30px solid transparent;
  // border-right: 30px solid transparent;
  // border-top: 40px solid #E31B6D;
  display: block;
  // position: absolute;
  height: 100px;
  width: 100px;
  margin: auto;
  animation: bounce 2s infinite;
}

//////////////////////////////////////////////////////////
// .navbar-slogan:hover .div-down {
//   transform: translateY(-50px);
// }

span {
  color: #e31b6d;
}

.move {
  position: absolute;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 5px 10px #fff;
  animation: animStar 25s linear infinite;
  box-shadow: $shadow-small;
}

// .background-image:hover .stars {
//   animation: animStar 25s ease-out;
// }

.stars:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadow-small;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 5px 10px #fff;
  animation: animStar 25s ease-out infinite;
  box-shadow: $shadow-medium;
}

// .background-image:hover .stars2 {
//   animation: animStar 25s ease-out;
// }

.stars2:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadow-medium;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 5px 10px #fff;
  animation: animStar 25s ease-out infinite;
  box-shadow: $shadow-large;
}

// .background-image:hover .stars3 {
//   animation: animStar 25s ease-out;
// }

.stars3:after {
  content: '';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadow-large;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(800px);
  }
}
